<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="in.trueowner.trueowner">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AdminDropBuyerDetails"></activity>
        <activity android:name=".AdminDropCourierDetails" />
        <activity android:name=".AdminDropSellerDetails" />
        <activity android:name=".AdminPickupCourierDetails" />
        <activity android:name=".AdminPickupReturnDetails" />
        <activity android:name=".AdminPickupSellerDetails" />
        <activity android:name=".AdminDropSeller" />
        <activity android:name=".AdminDropCourier" />
        <activity android:name=".AdminDropBuyer" />
        <activity android:name=".AdminPickupReturn" />
        <activity android:name=".AdminPickupCourier" />
        <activity android:name=".AdminPickupSeller" />
        <activity android:name=".AdminDropPage" />
        <activity android:name=".AdminPickupPage" />
        <activity android:name=".EmailVerification" />
        <activity android:name=".MobileVerification" />
        <activity android:name=".AdminRegisterVerification" />
        <activity android:name=".AdminRegisterList" />
        <activity android:name=".AdminHomePage" />
        <activity android:name=".SellSuccessPage" />
        <activity android:name=".RegisterDeviceSuccessPage" />
        <activity android:name=".RegisterDeviceVerificationPage" />
        <activity android:name=".EditProfile" />
        <activity android:name=".MyOrdersBill" />
        <activity android:name=".BuyerSuccessfulPage" />
        <activity android:name=".BuyerFinalOverview" />
        <activity android:name=".SellerPaymentAwaiting" />
        <activity android:name=".SellerFinalConfirmation" />
        <activity android:name=".BuyerFinalConformation" />
        <activity android:name=".TrackingOrder" />
        <activity android:name=".SellerAwaiting" />
        <activity android:name=".BuyerAwaiting" />
        <activity android:name=".BuyerVerificationReviewPage" />
        <activity android:name=".AdminSellerVerificationSuccessPage" />
        <activity android:name=".AdminSellerVerification" />
        <activity android:name=".AdminSellerList" />
        <activity android:name=".SellerVerificationPage" />
        <activity android:name=".MyOffersPage" />
        <activity android:name=".SellDeviceRegister7" />
        <activity android:name=".SellDeviceRegister6" />
        <activity android:name=".SellDeviceRegister5" />
        <activity android:name=".SellDeviceRegister4" />
        <activity android:name=".SellDeviceRegister3" />
        <activity android:name=".SellDeviceRegister2" />
        <activity android:name=".SellDeviceRegister1" />
        <activity android:name=".TrackResultFoundPage" />
        <activity android:name=".TrackNoResultPage" />
        <activity android:name=".LostRegisterSuccessPage" />
        <activity android:name=".LostRegisterDevice4" />
        <activity android:name=".LostRegisterDevice3" />
        <activity android:name=".LostRegisterDevice2" />
        <activity android:name=".LostRegisterDevice1" />
        <activity android:name=".LostDeviceRegisterPage" />
        <activity android:name=".TrackDevicePage" />
        <activity android:name=".RegisterDevicePage4" />
        <activity android:name=".RegisterDevicePage3" />
        <activity android:name=".RegisterDevicePage2" />
        <activity android:name=".SellPage" />
        <activity android:name=".RegisterDevicePage" />
        <activity android:name=".CartPage" />
        <activity android:name=".SupportPage" />
        <activity android:name=".WishlistPage" />
        <activity android:name=".MyProductsPage" />
        <activity android:name=".PersonalDetailsPage" />
        <activity android:name=".FilterPricePage" />
        <activity android:name=".LocationFilterStatePage" />
        <activity android:name=".LocationFilterCityPage" />
        <activity android:name=".FilterPage" />
        <activity android:name=".ItemInfoPage" />
        <activity android:name=".Marketplace_Page" />
        <activity
            android:name=".HomePage"
            android:label="@string/title_activity_home_page" />
        <activity android:name=".ForgotPasswordPage" />
        <activity android:name=".SignupPage" />
        <activity android:name=".LoginPage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="419826708698702" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="in.trueowner.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>